.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.register-form{
    border: 1px solid rgb(0, 0, 0);
    padding: 30px;
    border-radius: 15px;
    width: 40%;
}

.h3{
    text-align: center;
}
